{% load static %}

<html>

	<head>
		<title> SIRIUS Tool </title>
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/bootstrap-theme.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		
		<link rel="stylesheet" type="text/css" href="{% static 'interface/css/base_style.css' %}">
	</head>
	
	<body>
		<div class="page-header">
			<div class="row">
				<div class="col-md-12">
					<h1 align="center"><a href="{% url 'interface:index' %}">SIRIUS Tool</a></h1>
				</div>
			</div>
		</div> <!-- page-header -->
		
		<hr/>
		<br/>
		
		<div class="content-container">
			<div class="row">
				<div class="col-md-12">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div> <!-- content-container -->
		
	</body>
	
	
</html>
