{% extends 'index/barMenu.html' %}
{% load static %}
{% load addcssclass %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'interface/css/settings.css' %}">

<!-- En caso de que se este editando una sub-heuristica cargo el modal automaticamente -->
{% if editing %}
		{% include 'modals/meta_criteria_modal.html' %}
		<script>$('#meta_criteria_modal').modal('show')</script>
{% endif %}

<div class="col-md-12">
	<div class="page-header">
	  <h1><small> Configuración de</small> Sub-Heuristicas</h1>
	</div>
	
</div> <!-- col md 12-->
<div class="col-md-12">
	<div class="row">
		<div class="col-md-2">
		</div>	
		<div class="col-md-8">
		    <div class="well well-lg">
				
				<!-- Con esto cargo el html del modal -->
				{% include 'modals/meta_criteria_modal.html' %}
				<!-- Con este boton se activa el modal -->
				<button type="button" class="btn azul espacio-izq" data-toggle="modal" data-target="#meta_criteria_modal"> Agregar <span class="glyphicon glyphicon-plus"></span></button>
				
			</div> <!-- well  -->		        			
		</div><!-- col-md-8 -->	
		<div class="col-md-2">
		</div>	
	</div> <!-- row-->
	<div class="row">
		
		<!-- Filtrador de sub-heuristicas -->
		<div class="col-md-12" style="margin-top: 70px;">
			<form class="form-horizontal" method="get">
				{% csrf_token %}
				<div class="form-group">
					<label class="col-sm-3 control-label">Heuristica:</label>
					<div class="col-sm-6">
							<select id="heuristic_ids" class="form-control">
								<option value="-1">Todos</option>
								{% for heuristic in heuristics %}
									<option value="{{heuristic.pk}}">
										{{heuristic.name}}
									</option>
								{% endfor %}
							</select>
					</div>
					<div class="col-sm-3">
						<button class="btn azul" type="button" id="filter_form_but" method="GET">Filtrar <span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
			</form>
		</div><!-- Filtrador -->
		
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover ">
			    <thead>
			      <tr class="" style="background-color: #3f9db6;color:white;">
			        <th style="text-align: center;">Heuristica</th>
			        <th style="text-align: center;">Nombre</th>
			        <th style="text-align: center;">Acrónimo</th>
			        <th style="text-align: center;">Atributo</th>
			        <th style="text-align: center;">Modificar</th>
			        <th style="text-align: center;">Eliminar</th>
			      </tr>
			    </thead>
			    
			    <tbody id="criteria_tbody"> </tbody>
			    
			  </table>
		</div><!-- col-->
		
	</div> <!--  row -->

</div> <!-- col md 12-->
<script>
$('#home').removeClass('active');
$('#s2').addClass('active');
$('#s1,#s2,#s3,#s4').show();

$('#setting').click(function(){
    $('#s1,#s2,#s3,#s4').toggle();
});

$("#filter_form_but").click(getFilteredCriteria);

function getFilteredCriteria(event) {
	var selected_heuristic_id = $('#heuristic_ids').find(":selected").val();

	$.ajax({
		url: url = "{% url 'filter_meta_criteria' %}",
		method: 'GET',
		data:{ meta_heuristic_id: parseInt(selected_heuristic_id) },
		dataType: "json",
		success: 
			function(data){ updateCriteriaList(data) },
		error: 
			function(xhr, errmsg, err){ console.log("error") },
	})
}

function updateCriteriaList(data){
	var html = '';
	for (var key in data){
		html += '<tr align="center">';
		html += '	<td>'+data[key]['heuristic_name']+'</td>';
		html += '	<td>'+data[key]['name']+'</td>';
		html += '	<td>'+data[key]['acronym']+'</td>';
		html += '	<td>'+data[key]['attribute']+'</td>';
		html += '	<td><a href="/home/metacriteria/'+data[key]['id']+'/"><span class="glyphicon glyphicon-edit centro"></span></a></td>';
		html += '	<td><a href="/home/delete-metacriterion/'+data[key]['id']+'/"><span class="glyphicon glyphicon-remove centro"></span></a></td>';
		html += '</tr>';
	}
	$("tbody#criteria_tbody").html(html);
}

$(document).ready(getFilteredCriteria(0));
</script>
{% endblock %}
