{% extends 'index/barMenu.html' %}
{% load static %}
{% load addcssclass %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'interface/css/settings.css' %}">
<div class="col-md-12">
	<div class="page-header">
	  <h1><small> Configuración de</small> Sub-Heuristicas</h1>
	</div>
	
</div> <!-- col md 12-->
<div class="col-md-12">
	<div class="row">
		<div class="col-sm-1">
		</div>	
		<div class="col-sm-9">
				<!-- Con esto cargo el html del modal -->
				{% include 'modals/meta_criteria_modal.html' %}
				<!-- Con este boton se activa el modal -->
				<button type="button" class="btn azul " data-toggle="modal" data-target="#meta_criteria_modal"> Agregar Sub-Heuristica  <span class="glyphicon glyphicon-plus"></span></button>
        			
		</div><!-- col-md-9 -->	
		<div class="col-sm-2">
		</div>	
	</div> <!-- row-->
	<div class="row">
		
		<!-- Filtrador de sub-heuristicas -->
		<div class="col-md-12" style="margin-top: 70px;">
			<form class="form-horizontal" method="get">
				{% csrf_token %}
				<div class="form-group">
					<label class="col-sm-3 control-label">Heuristica:</label>
					<div class="col-sm-6">
							<select id="heuristic_ids" class="form-control">
								<option value="-1">Todos</option>
								{% for heuristic in heuristics %}
									<option value="{{heuristic.pk}}">
										{{heuristic.name}}
									</option>
								{% endfor %}
							</select>
					</div>
					<div class="col-sm-3">
						<button class="btn azul" type="button" id="filter_form_but" method="GET">Filtrar <span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
			</form>
		</div><!-- Filtrador -->
		
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="criteria_table " class="table table-hover" data-pagination="true" data-id-field="name" data-page-size="2">
			    <thead>
			      <tr class="" style="background-color: #3f9db6;color:white;">
			        <th style="text-align: center;">Heuristica</th>
			        <th style="text-align: center;">Nombre</th>
			        <th style="text-align: center;">Acrónimo</th>
			        <th style="text-align: center;">Atributo</th>
			        <th style="text-align: center;">Modificar</th>
			        <th style="text-align: center;">Eliminar</th>
			      </tr>
			    </thead>
			    
			    <tbody id="criteria_tbody"> </tbody>
			    
			  </table>
		</div><!-- col-->
		
	</div> <!--  row -->

</div> <!-- col md 12-->

<!-- Edit Modal Html -->
<div class="modal fade" id="edit_meta_criteria_modal">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" style="display: inline;">Editar Sub-Heuristica</h4>
				<button type="button" class="btn btn-sm azul" style="display: inline; float: right;" data-dismiss="modal"><span>X</span></button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

<script>
$('#home').removeClass('active');
$('#s2').addClass('active');
$('#s1,#s2,#s3,#s4').show();

$('#setting').click(function(){
    $('#s1,#s2,#s3,#s4').toggle();
});


$(function(){
	// Filtering
	function getFilteredCriteria(event) {
		var selected_heuristic_id = $('#heuristic_ids').find(":selected").val();

		$.ajax({
			url: url = "{% url 'filter_meta_criteria' %}",
			method: 'GET',
			data:{ meta_heuristic_id: parseInt(selected_heuristic_id) },
			dataType: "json",
			success: 
				function(data){ $("tbody#criteria_tbody").html(data.html_list); },
			error: 
				function(xhr, errmsg, err){ console.log("error") },
		})
	}
	$("#filter_form_but").click(getFilteredCriteria);
	$(document).ready(getFilteredCriteria(0));
	
	// Editing
	function getEditMetaCriterionForm(event){
		event.preventDefault();
		$.ajax({
			url: $(this).attr("data-url"),
			type: "get",
			dataType: "json",
			beforeSend: function(){$('#edit_meta_criteria_modal').modal('show')},
			success: function(data){$('#edit_meta_criteria_modal .modal-body').html(data.html_forms)},
		});
	}
	$("#criteria_table").on('click', '.js-edit-link', getEditMetaCriterionForm);
	
	function saveEditedCriteria(event){
		event.preventDefault();
		$.ajax({
			url: $(this).attr("action"),
			data: $(this).serialize(),
			type: $(this).attr("method"),
			dataType: "json",
			success: function(data){
				if(data.form_is_valid){
					getFilteredCriteria(0);
					$('#edit_meta_criteria_modal').modal('hide');
					$('#message_modal').modal('show');
				}else{
					$('#edit_meta_criteria_modal .modal-body').html(data.html_forms);
				}
			}
		});
	}
	$('#edit_meta_criteria_modal').on('submit', '.js-edit-form', saveEditedCriteria);
});
//$('#message_modal').modal('show')
</script>
{% endblock %}
