{% extends 'index/barMenu.html' %}
{% load static %}
{% load addcssclass %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'interface/css/settings.css' %}">
        		<div class="col-md-12">
        			<div class="page-header">
						<h1><small> Configuración de</small> Heuristicas </h1>
					</div>
        		</div> <!-- col md 12-->
        		
        		<div class="col-md-12">
        			<div class="row">
		        		<div class="col-md-3">
		        		</div>	
		        		<div class="col-md-6">
							<div class="well well-lg">
								<form class="form-horizontal" action="" method="post" id="heuristic_form">
									{% csrf_token %}
									{% for field in form.visible_fields %}
										<div class="form-group">
											<label for="{{field.name}}" class="col-sm-3 control-label">{{field.label}}</label>
											<div class="col-sm-9">
												{{field|addcssclass:"form-control"}}
											</div>
										</div>
									{% endfor %}
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<button type="button" class="btn rojo espacio-der" onclick="clearForm('heuristic_form')">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
											<button type="submit" class="btn azul espacio-izq" id="submit_heuristic_btn" name="create_form">Guardar <span class="glyphicon glyphicon-ok"></span></button>
										</div>
									</div>
								</form>
							</div> <!-- well  -->		        			
		        		</div><!-- col-md-6 -->	
		        		<div class="col-md-3">
		        		</div>	
					</div> <!-- row-->
					<div class="row">
						<div class="col-md-1">
						</div><!-- col-->
						<div class="col-md-10">
							<table class="table table-hover" id="heuristic_table">
							    <thead>
							      <tr style="background-color: #3f9db6;color:white;text-align: center;">
							        <th style="text-align: center;">Nombre</th>
							        <th style="text-align: center;">Acrónimo</th>
							        <th style="text-align: center;">Modificar</th>
							        <th style="text-align: center;">Eliminar</th>
							      </tr>
							    </thead>
							    <tbody>
							    {% for heuristic in heuristics %}
							      <tr id="heuristic_{{heuristic.pk}}" align="center">
							        <td>{{heuristic.name}}</td>
							        <td>{{heuristic.acronym}}</td>
							        <td><a id="edit_heuristic_{{heurusitc.pk}}" href="{% url 'edit_meta_heuristic' heuristic.pk %}"><span class="glyphicon glyphicon-edit centro"></span></button></td>
							        <td><a id="delete_heuristic_{{heuristic.pk}}" href="{% url 'delete_meta_heuristic' heuristic.pk %}"><span class="glyphicon glyphicon-remove centro"></span></a></td>
							      </tr>
							    {% empty %}
									<td colspan = "4" class = "text-center bg-warning">No hay heuristicas</td>
							    {% endfor %}
							    </tbody>
							  </table>
						</div><!-- col-->
						<div class="col-md-1">
						</div><!-- col-->
						
					</div> <!--  row -->

        		</div> <!-- col md 12-->
<script>
$('#home').removeClass('active');
$('#s1').addClass('active');
$('#s1,#s2,#s3,#s4').show();


$('#setting').click(function(){
    $('#s1,#s2,#s3,#s4').toggle();
    $('#s1').removeClass('active');
	$('#setting').addClass('active');
});
</script>
{% endblock %}
