{% load static %}

<html>
    <head>
        <title> SIRIUS Tool </title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/bootstrap-theme.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        
        <link rel="stylesheet" type="text/css" href="{% static 'interface/css/login.css' %}">
    </head>
    <div class="container ">
        <div class="log-form">
          <h2>Iniciar sesion</h2>
          <form method="POST">
            {% if form.errors %}
              <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>ERROR.</strong> Username o contraseña incorrecta. Intenta nuevamente.
                </div>
            {% endif %}
            {% csrf_token %}
            <input type="text" title="username" name="username" placeholder="Username *" required="" />
            <input type="password" title="password" placeholder="Contraseña *" name="password" required="" />
            <p class="col-xs-4 col-xs-offset-8" style="color:red; font-size: 12px; font-weight:bold; padding-left:50px; padding-right: 0px "> (*) Obligatorio </p>
            <button type="submit" class="btn">Ingresar</button>
            <a class="forgot" href="../register">Crear una cuenta</a>

          </form>
    
        </div><!--end log form -->
    </div>
</html>
