.glyphicon.glyphicon-triangle-bottom{
		float: right;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: 12px;
	}
	.rojo{
		background-color: #ed403c;
		color: white;
		font-weight: bold;
	}
	.rojo:hover, .rojo:active{
		background-color: #ed403c;
		border-color: #c30904;
		color:white;
		-webkit-box-shadow:2px 2px 2px 2px #c30904;
		-moz-box-shadow:2px 2px 2px 2px #c30904;
		box-shadow:2px 2px 2px 2px #c30904;
	}
	.azul{
		background-color: #3f9db6;
		color: white;
		font-weight: bold;
	}
	.azul:hover, .azul:active{
		background-color: #3f9db6;
		border-color: #78c0cf;
		color:white;
		-webkit-box-shadow:2px 2px 2px 2px #78c0cf;
		-moz-box-shadow:2px 2px 2px 2px #78c0cf;
		box-shadow:2px 2px 2px 2px #78c0cf;
	}
	.espacio-izq{
		margin-left: 15px;
	}
	.espacio-der{
		margin-right: 15px;
	}
	.centro{
		text-align: center;
		padding-left: 20px;
	}
	.flotanteMenu{
	-webkit-box-shadow:2px 2px 2px 2px #78c0cf;
	-moz-box-shadow:2px 2px 2px 2px #78c0cf;
	 box-shadow:2px 2px 2px 2px #78c0cf;
	 margin-top: 80px;
	}
	@media screen and (max-width: 800px) {
    .affix, .flotanteMenu{
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
	}
  }