{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SIRIUS</title>

     <!-- Custom fonts for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/bootstrap-theme.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'interface/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'interface/css/leftMenu.css' %}">


  </head>

  <body>
<style type="text/css">
  #s1,#s2,#s3,#s4{
    display: none;
  }
  .glyphicon.glyphicon-triangle-bottom{
    float: right;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
  }
  .navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
  }
</style>
    <!-- Navigation -->
    <nav class="navbar navbar-white bg-white static-top xs-hidden">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button-->
          <a class="navbar-brand" href="#">
            <img src="{% static 'index/img/logo.png' %}" alt="SIRIUS" width="175" height="50" border="0">
          </a>
        </div>
        

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-11">
       <ul class="nav navbar-nav navbar-right">
       {% if user.is_authenticated %}
        <li><a class="navbar-text disabled" href="#">Hi, {{ user.user }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a class="navbar-text active" href="/login">Sign in</a></li>
        {% endif %}
      </ul>
       </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Masthead -->
    <div class="container-fluid">
      <div clas="row">
        <div class="col-md-3 col-xs-12">
          <div class="row">
              <!-- Sidebar header -->
          <div class="sidebar-header header-cover">
              <h2  class="sidebar-brand text-uppercase" href="#">
                  <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> <strong>{{user.user}}</strong>
              </h2>
          </div>
          <div class="row">
            <div class="col-md-12">
             
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div >
                <ul class="nav nav-pills nav-stacked collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <li id="home" class="active" role="presentation"><a href="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
                <li id="profile" role="presentation"><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
                <li id="evaluate" role="presentation"><a href="/home/evaluate"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Evaluate</a></li>
                <li id="reviews" role="presentation"><a href="/home/reviews"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Reviews</a></li>
                {% if user.is_superuser %}
                
                <li id="setting"  role="presentation"><a href="#"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Settings <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a></li>
                <!--<li id="s1" role="presentation"><a href="/home/indicator"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Indicator</a></li>
                <li id="s2" role="presentation"><a href="/home/features"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Features</a></li>
                <li id="s3" role="presentation"><a href="/home/subfeatures"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Sub-features</a></li>
                <li  id="s4" role="presentation"><a href="/home/attributes"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Attributes</a></li> -->
                <li id="s1" role="presentation"><a href="{% url 'meta_heuristics' %}"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Heuristics </a></li>
                <li id="s2" role="presentation"><a href="{% url 'meta_criteria' %}"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Criteria </a></li>

                {% endif %}
                <li id="logout" role="presentation"><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
        </div>
      </div>
        </div>

        <div class="col-md-9 col-xs-12">
          <div class="row">
                  {% block content %}
                  {% endblock %}
          </div><!-- row md 9-->
        </div><!-- col-md-9 -->
      </div>

    </div>
     <!-- Footer -->
    <footer class="footer bg-white">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2" style="margin-bottom: 5px;">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; SIRIUS 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.js"></script>


</body>

</html>
