{% extends 'index/barMenu.html' %}
{% load static %}



{% block content %}
<style type="text/css">
	.glyphicon.glyphicon-triangle-bottom{
		float: right;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: 12px;
	}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'interface/css/settings.css' %}">
<div class="col-md-9">
    <img class="img-responsive" src="{% static 'img/SIRIUS.png' %}">
</div>
<script type="text/javascript">
  
$('#setting').click(function(){
   	$('#s1,#s2,#s3,#s4').toggle();
	$('#home').removeClass('active');
	$('#setting').addClass('active');
});

</script>
{% endblock %}

