{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SIRIUS</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'index/img/favicon.png' %}"/>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'index/css/landing-page.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-white bg-white static-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'index/img/logo.png' %}" alt="SIRIUS" width="175" height="50" border="0">
        </a>


        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="/logout" class="btn btn-primary">{{ user.user }}, cliquea aqui para desloguearte</a></li>
        {% else %}
        <li><a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Loguearse </a></li>
        {% endif %}
        </ul>
       

      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
      {% if user.is_authenticated %}
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">User experience in websites,<br/>taken SIRIUSly</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
  
                  <div class="col-md-12 col-md-3">
                    <a class="btn btn-block btn-lg btn-primary" href="/home" >Empieza ahora!</a>
                  </div>
                </div>
              </form>
            </div>
        </div>
       {% else %}
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-5">User experience in websites,<br/>taken SIRIUSly</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                  <div class="col-md-5 col-md-3">
                    <a class="btn btn-block btn-lg btn-primary" href="/register" >Registrarse</a>
                  </div>
                  </br>
                  <div class="col-md-5 col-md-3 offset-md-2">
                    <a class="btn btn-block btn-lg btn-primary" href="/login" >Loguearse</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </header>
    <!-- Footer -->
    <footer class="footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">Sobre Nosotros</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contacto</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terminos de Uso</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Política de Privacidad</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; SIRIUS 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.js"></script>

  </body>

</html>
