{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SIRIUS</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'index/img/favicon.png' %}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/bootstrap-theme.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'interface/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'interface/css/leftMenu.css' %}">
    <!-- Custom styles for this template -->

  </head>

  <body>
<style type="text/css">
  body{
    background-color: ;
    
  }
  .imagen{
      width: 100%;

  }
  .jumbotron{
    margin-bottom: 0px;

    background-color: white;
  }
  .jumbotron p{
    font-size: 15px;
  }
  .azul{
    background-color: #3f9db6;
    color:white;
    font-weight: bold;
    width: 100%;
  }
  .azul:hover, .azul:active{
    background-color: #3f9db6;
    border-color: #78c0cf;
    color:white;
    -webkit-box-shadow:2px 2px 2px 2px #78c0cf;
    -moz-box-shadow:2px 2px 2px 2px #78c0cf;
    box-shadow:2px 2px 2px 2px #78c0cf;
  }
  .title{
    color: #78c0cf;
  }
  strong{
    color: #78c0cf;
  }
</style>
    <!-- Navigation >'background-color: #dae3e7;'
    <nav class="navbar navbar-white bg-white static-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'index/img/logo.png' %}" alt="SIRIUS" width="175" height="50" border="0">
        </a>


        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="/logout" class="btn btn-primary">{{ user.user }}, cliquea aqui para desloguearte</a></li>
        {% else %}
        <li><a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Loguearse </a></li>
        {% endif %}
        </ul>
       

      </div>
    </nav-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 hidden-xs">
          <img class="imagen img-responsive" src="/static/index/img/main1.png">
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="jumbotron" style="margin-bottom: 0px;">
          <h1> <img src="{% static 'index/img/logo.png' %}" alt="SIRIUS" height="100" border="0"></h1>
              <h2 ><small> Nuevo sistema para la evaluación de la usabilidad web </small></h2>
              <blockquote class="blockquote">
                <p class="mb-0"><strong>SIRIUS</strong> es un sistema de evaluación de la usabilidad web que parte de la evaluación heurística pero que aúna una serie de características que la diferencia de otras propuestas:</p>
                <p><span class="glyphicon glyphicon-ok"></span>   Se aplica a cualquier tipo de sitio web</p>
                <p><span class="glyphicon glyphicon-ok"></span>   Es aplicable durante todo el ciclo de vida del sitio</p>
                <p><span class="glyphicon glyphicon-ok"></span>   Da como resultado un valor porcentual del nivel de usabilidad del sitio evaluado</p>
              </blockquote>
              {% if user.is_authenticated %}
              <div class="row">
                <div class="col-md-6">
                  <p><a class="btn azul btn-lg" href="/home" role="button"><span class="glyphicon glyphicon-home"></span> IR A INICIO</a></p>
                    
                </div>
                <div class="col-md-6">
                  <p><a class="btn azul btn-lg" href="/logout" role="button"><span class="glyphicon glyphicon-log-out"></span> CERRAR SESION</a></p>
                </div>
                  
                </div>
              </div>
              {% else %}
              <div class="row">
                <div class="col-md-6">
                  <p><a class="btn azul btn-lg" href="/login" role="button">INGRESA</a></p>
                    
                </div>
                <div class="col-md-6">
                  <p><a class="btn azul btn-lg" href="/register" role="button">REGISTRATE</a></p>
                </div>
                  
                </div>
                {% endif %}
              </div>
          </div>
        
      </div>

    </div>
    <!-- Masthead -->
    <!--header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
      {% if user.is_authenticated %}
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">User experience in websites,<br/>taken SIRIUSly</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
  
                  <div class="col-md-12 col-md-3">
                    <a class="btn btn-block btn-lg btn-primary" href="/home" >Empieza ahora!</a>
                  </div>
                </div>
              </form>
            </div>
        </div>
       {% else %}
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-5">User experience in websites,<br/>taken SIRIUSly</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                  <div class="col-md-5 col-md-3">
                    <a class="btn btn-block btn-lg btn-primary" href="/register" >Registrarse</a>
                  </div>
                  </br>
                  <div class="col-md-5 col-md-3 offset-md-2">
                    <a class="btn btn-block btn-lg btn-primary" href="/login" >Loguearse</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        {% endif %}
      </div>
    </header-->
    <!-- Footer -->
    <footer class="footer bg-white">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-lg-126 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2" style="margin-bottom: 5px;">
              <li class="list-inline-item">
                <a href="#">Sobre Nosotros</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contacto</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terminos de Uso</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Política de Privacidad</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; SIRIUS 2018. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.js"></script>

  </body>

</html>
