{% extends 'index/barMenu.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'interface/css/settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'interface/css/tabber.css' %}">
<script src="{% static 'js/tabber.js' %}"></script>

<div class="col-md-9">
    	<div class="col-md-12">
			<div class="page-header">
			  <h1> <small> Editando Review del sitio </small> {{review.website.name}}</h1>
			</div>
		</div> <!-- col md 12-->
    	<div class="col-md-10" >
			<form action = "" method="post" >
				{% csrf_token %}
				<label for="tabber_buttons" >HEURISTICA:</label>
				<select  class="form-control" id='tabber_buttons'> 
					{% for field in form %}
						{% if field.field.widget.attrs.heuristic %}
							<option id='tab_button_{{field.field.widget.attrs.pk}}'> 
								{{field.label}}
							</option>
						{% endif %}
					{% endfor %}
				</select>
					{% for field in form %}
						{% if field.field.widget.attrs.heuristic %}
							<div id='tabber_tab_{{field.field.widget.attrs.pk}}'> 
								<h3 class="text-center" id="tabName"><label class="control-label col-sm-12" for="{{field.name}}" style="margin-top: 20px;">{{field.label}}:</label></h3>
						{% elif field.field.widget.attrs.heuristic_end %}
							</div>
						{% else %}
							<div class="form-group" >
								<label class="control-label col-sm-12" for="{{field.name}}" style="margin-top: 20px;">{{field.label}}:</label>
								<div id="input_group" class=" col-sm-12">
									{% for i in field %}
										<label class="radio-inline " style="margin-right: 5px;">
										<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" > {{i}}
										</label>
									{% endfor%}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				
				<div class="form-group" >
					<div class="col-sm-6">
						<button onclick="location.href='{% url 'see_review' review.pk %}'" type="button" class="btn btn-group-justified azul" style="margin-top: 50px; margin-bottom: 50px;">  <span class="glyphicon glyphicon-arrow-left"></span>  Regresar  </button>
					</div>
					<div class="col-sm-6">
						<button type="submit" href="/home/evaluate/1" class="btn btn-group-justified azul" style="margin-top: 50px; margin-bottom: 50px;" onclick="validateForm()">  Guardar  <span class="glyphicon glyphicon-saved"></span></button>
					</div>
				</div>
					
			</form>

    	</div>
	    <div class="col-md-2 col-xs-12">
			<nav id="myScrollspy">
		      <ul class="nav nav-pills nav-stacked flotanteMenu " data-spy="affix" >
		      	<li><strong><span class="glyphicon glyphicon-question-sign"></span> Leyenda de valores: </strong></li>
		        <li><strong>(NA) No se cumple en absoluto</strong></li>
				<li><strong>(NTS) Se cumple totalmente</strong></li>
				<li><strong>(NEP) Criterio no aplicable en el sitio</strong></li>
				<li><strong>(NPP) No se cumple en los enlaces principales</strong></li>
				<li><strong>(NPI) No se cumple en alguna pagina interior</strong></li>
				<li><strong>(S) Se cumple el criterio</strong></li>
				<li><strong><span class="glyphicon glyphicon-sound-5-1"></span> Rango numerable: </strong></li>
				<li><strong>(1) No cumple</strong></li>
				<li><strong>(10) Cumple totalmente</strong></li>
		      </ul>
		    </nav>  
	    </div>	
</div>


{% endblock %}
