{% extends 'index/barMenu.html' %}
{% load static %}
{% load addcssclass %}

{% block content %}

	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
				  <h1><small> Reviews de</small> {{user.full_name}}</h1>
				</div>
			</div> <!-- col md 12-->
			
    		<div class="col-md-12">
				<table class="table table-hover">
					<thead> 
						<tr style="background-color: #3f9db6;color:white;" >
							<th style="text-align: center;">Website</th>
							<th style="text-align: center;">URL</th>
							<th style="text-align: center;">Navegador</th>
							<th style="text-align: center;">Versión</th>
							<th style="text-align: center;">Fecha</th>
							<th style="text-align: center;">Porcentaje de Usabilidad</th>
							<th style="text-align: center;">Estado</th>
							<th style="text-align: center;">Editar</th>
						</tr>
					</thead>
					<tbody>
						{% for review in reviews %}
							<tr align="center">
								<td>{{review.website.name}}</a></td>
								<td><a href="{{review.website.url}}">{{review.website.url}}</td>
								<td>{{review.browser}}</td>
								<td>{{review.browser_version}}</td>
								<td>{{review.date}}</td>
								<td>{{review.UP}}%</td>
								{% if review.partial %}
									<td>Incompleta</td>
								{% else %}
									<td>Terminada</td>
								{% endif %}
								<td><a href="{% url 'see_review' review.pk %}"><span class="glyphicon glyphicon-edit"></span></a></td>
							</tr>
						{% empty %}
							<tr>
								<td colspan="8" class="text-center bg-warning">Aun no has hecho ninguna review</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
    		</div>
		</div>
	</div>
<script type="text/javascript">
$('#home').removeClass('active');
$('#reviews').addClass('active');
$('#setting').click(function(){
   	$('#s1,#s2,#s3,#s4').toggle();
	$('#reviews').removeClass('active');
	$('#setting').addClass('active');
});

</script>
{% endblock %}
