{% extends 'index/barMenu.html' %}
{% load static %}
{% load addcssclass %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'interface/css/settings.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'interface/css/tabber.css' %}">
	<script src="{% static 'js/tabber.js' %}"></script>

	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
				  <h1><small> Review de</small> {{review.website.name}}</h1>
				</div>
			</div> <!-- col md 12-->
			
			<div class="col-md-10">
				
				<h2 style="text-align: center;">Porcentaje de Usabilidad: {{review.UP}}%</h2>
				<br/>
				<div id="tabber">
				<label for="tabber_buttons" >HEURISTICA:</label>
					<select  class="form-control" id='tabber_buttons'> 
						{% for heuristic in review_items.items%}
					    	<option id="tabber_button_{{heuristic.0.1}}" onChange="refreshTabs({{heuristic.0.1}})" >{{heuristic.0.0}}</option>
					    {% endfor %}
					</select>
					<br>
						{% for heuristic, criteria in review_items.items %}
							<div id='tabber_tab_{{heuristic.1}}'> 
								<!-- Este es el nombre de la heuristica en cada pagina -->
								<h3 class="text-center" id="tabName" hidden><label class="control-label">{{heuristic.0}}:</label></h3>
							<ul class="list-group">
								<li class="list-group-item" style="background-color: #3f9db6;color:white;">
									<span class="badge">VALOR</span>
									 <div style="font-weight: bold;" >CRITERIO</div>
								</li>
								{% for criterion in criteria %}
									<!-- Estos son los valores que se muestran en la pagina -->
								  <li class="list-group-item">
								    <span class="badge">{{criterion.criterion_value}}</span>
								     {{criterion.meta_criterion.name}}
								  </li>
								{% endfor %}
							</ul>
							</div>
						{% endfor %}
				<div class="col-md-3">
	    		</div>
	    		<div class="col-md-6">
	    			<a href="{% url 'edit_review' review.pk %}"><button type="submit" class="btn btn-group-justified azul" style="margin-top: 50px; margin-bottom: 50px;">  Editar  <span class="glyphicon glyphicon-edit centro"></span></button></a>
	    		</div>
	    		<div class="col-md-3">
	    		</div>
				</div><!-- tabber -->
		</div>
		<div class="col-md-2 col-xs-12">
			<nav id="myScrollspy">
		      <ul class="nav nav-pills nav-stacked flotanteMenu " data-spy="affix" >
		      	<li><strong><span class="glyphicon glyphicon-question-sign"></span> Leyenda de valores: </strong></li>
		        <li><strong>(NA) No se cumple en absoluto</strong></li>
				<li><strong>(NTS) Se cumple totalmente</strong></li>
				<li><strong>(NEP) Criterio no aplicable en el sitio</strong></li>
				<li><strong>(NPP) No se cumple en los enlaces principales</strong></li>
				<li><strong>(NPI) No se cumple en alguna pagina interior</strong></li>
				<li><strong>(S) Se cumple el criterio</strong></li>
				<li><strong><span class="glyphicon glyphicon-sound-5-1"></span> Rango numerable: </strong></li>
				<li><strong>(1) No cumple</strong></li>
				<li><strong>(10) Cumple totalmente</strong></li>
		      </ul>
		    </nav>  
	    </div>	
    		
		</div>
	</div>

{% endblock %}
