{% extends 'index/barMenu.html' %}
{% load static %}
{% load addcssclass %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'interface/css/tabber.css' %}">
	<script src="{% static 'js/tabber.js' %}"></script>

	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
				  <h1><small> Review de</small> {{review.website.name}}</h1>
				</div>
			</div> <!-- col md 12-->
			
			<div class="col-md-12">
				
				<div id="tabber">
					<div id="tabber_buttons"></div>
						{% for heuristic, criteria in review_items.items %}
							<div id='tabber_tab{{forloop.counter0}}'> 
								<!-- Este es el nombre de la heuristica en cada pagina -->
								<h3 class="text-center" id="tabName"><label class="control-label col-sm-12" style="margin-top: 20px;">{{heuristic}}:</label></h3>
							{% for criterion in criteria %}
								<!-- Estos son los valores que se muestran en la pagina -->
								<h4> {{criterion.meta_criterion.name}} </h4>
								<h3> {{criterion.criterion_value}} </h3>
							{% endfor %}
							</div>
						{% endfor %}
				</div><!-- tabber -->
					
			</div>
			
    		<div class="col-md-12">
    		</div>
		</div>
	</div>

{% endblock %}
