{% extends 'index/barMenu.html' %}
{% load static %}



{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'interface/css/settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'interface/css/tabber.css' %}">
<script src="{% static 'js/tabber.js' %}"></script>

<div class="col-md-9">
    	<div class="col-md-12">
			<div class="page-header">
			  <h1> Información General <small> de la evaluación </small></h1>
			</div>
			
		</div> <!-- col md 12-->
    	<div class="col-md-10" >
			<form action = "" method="post" >
				{% csrf_token %}
				<div id="tabber">
				<label for="tabber_buttons" >HEURISTICA:</label>
					<select  class="form-control" id="tabber_buttons" onchange="refreshTabs()" required>
				      	{% for field in form %}
				      		{% if field.field.widget.attrs.heuristic %}
					    	<option id="tabber_button_{{field.field.widget.attrs.pk}}" value='{{field.field.widget.attrs.pk}}'>{{field.label}}</option>
					    	{% endif %}
					    {% endfor %}
					</select>	
								
					{% for field in form %}
						{% if field.field.widget.attrs.heuristic %}
							<div id='tabber_tab_{{field.field.widget.attrs.pk}}'> 
								<h3 class="text-center" id="tabName"><label class="control-label col-sm-12" for="{{field.name}}" style="margin-top: 20px;">{{field.label}}:</label></h3>
						{% elif field.field.widget.attrs.heuristic_end %}
							</div>
						{% else %}
							<div class="form-group" >
								<label class="control-label col-sm-12" for="{{field.name}}" style="margin-top: 20px;">{{field.label}}:</label>
								<div id="input_group"class="col-sm-12">
									{% for i in field %}
										<label class="radio-inline " style="margin-right: 8px;">							<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" > {{i}}
										</label>
									{% endfor%}
								</div>
							</div>
						{% endif %}
					{% endfor %}
					
				</div>
				<div class="form-group" >
					<div class="col-sm-8 col-sm-offset-1">
						<!-- <button type="submit" href="/home/evaluate/1" class="btn btn-group-justified azul" style="margin-top: 50px; margin-bottom: 50px;" onclick="validateForm()">  Siguiente  <span class="glyphicon glyphicon-saved"></span></button> -->
						<button type="submit" class="btn btn-group-justified azul" style="margin-top: 50px; margin-bottom: 50px;" onclick="validateForm()">  Siguiente  <span class="glyphicon glyphicon-saved"></span></button>
					</div>
				</div>
					
			</form>

    	</div>
    <div class="col-md-2 col-xs-12">
		<nav id="myScrollspy">
	      <ul class="nav nav-pills nav-stacked flotanteMenu " data-spy="affix" >
	      	<li><strong><span class="glyphicon glyphicon-question-sign"></span> Leyenda de valores: </strong></li>
	        <li><strong>(NA) No se cumple en absoluto</strong></li>
			<li><strong>(NTS) Se cumple totalmente</strong></li>
			<li><strong>(NEP) Criterio no aplicable en el sitio</strong></li>
			<li><strong>(NPP) No se cumple en los enlaces principales</strong></li>
			<li><strong>(NPI) No se cumple en alguna pagina interior</strong></li>
			<li><strong>(S) Se cumple el criterio</strong></li>
			<li><strong><span class="glyphicon glyphicon-sound-5-1"></span> Rango numerable: </strong></li>
			<li><strong>(1) No cumple</strong></li>
			<li><strong>(10) Cumple totalmente</strong></li>
	      </ul>
	    </nav>  
    </div>	
</div>



<script type="text/javascript">
$('#home').removeClass('active');
$('#evaluate').addClass('active');
$('#setting').click(function(){
   	$('#s1,#s2,#s3,#s4').toggle();
	$('#home').removeClass('active');
	$('#setting').addClass('active');
});

</script>
<script type="text/javascript">
function refreshTabs(){
			var activeTab = document.getElementById("tabber_buttons").value;
			console.log("Numero de tab: "+ activeTab);
			var tabButtons = $('div#tabber_buttons').children();
			var heuristicID;
			$('div[id^=tabber_tab_]').each(function(index, tab){
				heuristicID = $(this).attr('id').split('_');
				heuristicID = heuristicID[heuristicID.length-1]
				if(heuristicID == activeTab){
					$(tab).show();
					$(tabButtons[index]).addClass('activeTab');
				}else{
					$(tab).hide();
					$(tabButtons[index]).removeClass('activeTab');
				}
			});
		}
</script>

{% endblock %}
